@font-face {
  font-family: 'Monaco';
  src: url("../fonts/monaco.ttf");
}

body {
  font-family: 'Monaco', Courier New, monospace;
  background-color: black;
  color: white;
}

mark {
  background-color: yellow;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 3%;
}

footer {
  padding-bottom: 3%;
}

.popupHidden {
  display: none;
}

.popupOpen {
  display: block;
}

.social {
  opacity: 1;
  color: white;
}

.social:hover {
  opacity: 0.7;
}

.section {
  padding: 2em 0;
}

.textSection {
  font-size: 3vmin;
  padding: 0 5em;
}

.centered {
  text-align: center;
  display: block;
  margin: auto;
}

.border {
  border-style: solid;
  border-color: white;
  border-width: medium;
}

.newProject {
  padding-bottom: 8%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.iframeLH {
  width: 100%;
  float: left;
  padding-bottom: 3%;
}

.iframeRH {
  width: 100%;
  float: left;
}

.textLH {
  width: 100%;
  float: left;
  /*font-size: 2.5vmin;*/
}

.textRH {
  width: 100%;
  float: left;
  /*font-size: 2.5vmin;*/
}

div.navMenu {
  font-size: 5vmin;
}

.navMenu a {
  color: white;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}

.textLH a {
  color: white;
}

.introText a {
  color: blue;
  text-decoration: none;
}

.newProject {
  padding-bottom: 10%;
}

.navMenu a:hover {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

#headerImage {
  width: 50%;
  border-style: solid;
  border-color: white;
  border-width: medium;
}

#headerText {
  font-size: 10vmin;
}

@media (min-width: 768px) {
  #headerImage {
    width: 35%;
  }

}

@media (min-width: 992px) {
  .iframeLH {
    width: 60%;
  }

  .iframeRH {
    width: 60%;
  }

  .textLH {
    width: 35%;
    margin-left: 5%;
  }

  .textRH {
    width: 35%;
  }

}
